/* Estilos padrão para telas maiores first (lap tops desktops ...) 
nesse exemplo todos os aparelhos com mais de 769 pixels são a regra(tablets e desktops para cima)*/

body {
  background-color: lightgray;
  font-family: "Arial", sans-serif;
  color: #333;
}

h1 {
  font-size: 3em;
}

/* Para telas intermediárias entre 
celuares e tablets (phablets)(min-largura-601px máxima largura de 768px) */
@media (max-width: 768px) {
  body {
    background-color: rgb(100, 106, 100);
  }

  h1 {
    font-size: 2em;
  }
}

/* Para telas de celulares (máxima largura de 600px)
Em dev web moderno o ponto de quebra ara celulares será de 600px */
@media (max-width: 600px) {
  body {
    background-color: rgb(13, 13, 14);
    color: white;
  }

  h1 {
    font-size: 1em;
  }
}
